h1 {
  color: blue;
  text-align: center;
}

h2 {
  color: green;
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
}

ul {
  line-height: 40px
}

h1 {
  color: #5F3C35;
}

body {
  color: #325050;
  background-color: lightblue;
  font-family: cursive;
  font-size: 70%;
}
