h1 {
  color: blue;
  text-align: center;
}

h2 {
  color: green;
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
}

ul {
  line-height: 40px
}

h1 {
  color: #5F3C35;
}

body {
  margin: 0;
  color: #325050;
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("../../media/examples/lizard.png");
  background-color: blue(50, 33%, 25%);
  font-family: cursive;
  font-size: 70%;
}
